* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    height: 100vh;
}

h1{
    background-color: navy;
    color: white;
    margin-bottom: 10px;
}

header{
    text-align: center;
}

center{
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.button-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    width: 80px;
    height: 50px;
    color: white;
    font-weight: 700;
}

.btn-four{
    background-color: green;
}

.btn-wicket{
    background-color: red;
}

.btn-ball {
    background-color: blue;
}

.btn-reset{
    background-color: darkblue;
}

fieldset{
    padding: 15px;
}

.teams{
    display: flex;
    gap: 20px;
}

footer{
    position: absolute;
    bottom: 30px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-end{
    width: 40px;
    height: 20px;
    background-color: red;
    color: white;
}